doctype html
html
    head
        link(href='style.css' rel='stylesheet')
        block vars
        title #{title}
    body
        header
            nav(class='navbar')
                ul
                    each item in config.menu
                        a(href=item[1])
                            div(class='listitem')
                                li(id=item[0]) #{item[0]}
            h1 #{title}
        block content
        footer